<div id="<%= dom_id weapon %>">
  <p>
    <strong>City:</strong>
    <%= weapon.city_id %>
  </p>


  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= weapon.image %>
  </p>

</div>
