<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= exercise.image %>
  </p>

  <p>
    <strong>Mytype:</strong>
    <%= exercise.mytype %>
  </p>

</div>
